body
{
	margin: 0px;
	padding: 0px;
}

a
{
	text-decoration: none;
	color: #000000;
}

#headerContainer
{
	width: 100%;
	height: 45px;
	color: white;
	background-color: #2a324b;
	text-align: center;
	margin: 0px;
	padding: 0px;
	zoom: 1;
}

#header
{
	width: 820px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;;
}

#headTitle h1
{
	display: inline;
}

#headTitle
{
	display: inline;
	height: 45px;
}

#exitButton
{
	color: #FFFFFF;
	display: inline;
	text-align: right;
	height: 45px;
	font-size: 20px;
	line-height: 45px;
	position: relative;
	left: 200px;
}

#exitButton a
{
	color: #FFFFFF;
	display: inline;
}

#mainContainer
{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 36px;
	width: 820px;
	height: 931px;
}

#main
{
	width: 820px;
	height: 931px;
	position: absolute;
    	border:1px solid #cccccc;
	position: absolute;
	-moz-box-shadow: 1px 1px 5px #888888; /* 老的 Firefox */
	box-shadow: 1px 1px 5px #888888;
}

#mainContent
{
	margin-right: 0px;
	width: 620px;
	background:#FFF;
	height:926px;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
}

.title
{
	font-size: 1.5em;
	padding-top: 35px;
	margin-left: 10px;
}

#navContent
{
	width: 160px;
	height: 100%;
	padding: 10px;
	background-color: #A4B3E4;
}

#navTitle
{
	width: 160px;
	height: 2.4em;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 1.2em;
	line-height: 2.4em;
	-moz-box-shadow: 1px 1px 5px #888888; /* 老的 Firefox */
	box-shadow: 1px 1px 5px #888888;
}

#navList
{
	width: 160px;
	height: 350px;
	background-color: #FFFFFF;
	margin-top: 20px;
}

ul
{
	list-style-type: none;
	padding: 0px;
}

li
{
	text-align: center;
	margin: 0px;
	padding-top: 1.5em;
}

#resultContainer
{
	height: 138px;
	margin-top: 100px;
}

#resultContent
{
	display: none;
}

#resultTitle
{
	margin: auto;
	width: 4em;
	text-align: center;
	height: 1em;
}

#result
{
	width: 100px;
	height: 100px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	font-size: 40px;
	color: #FF0000;
	font-weight: 700;
	line-height: 100px;
}

#assessButton
{
	text-align: center;
	line-height: 30px;
	width: 100px;
	height: 30px;
	background-color: #A4B3E4;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
	margin: auto;
	margin-top: 50px;
}

img
{
	height: 100px;
	width: 100px;
	display: block;
	margin: auto;
}

#TableList{
	width:639px;
	height:500px;
	padding-top:15px;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:16px;
	color:#333333;
	width: 600px;
}

td {
	width: 200px;
	text-align: left;
	line-height: 2em;
}

#page
{
	text-align: center;
	bottom: 100%;
}

p
{
	margin-top: 0px;
	margin-bottom: 0px;
}