.wrap{
	width: 820px;
	margin:37px auto;
	margin-bottom: 80px;
}
li{ 
	list-style-type: none;
}
.tit{
	font-size: 1.6em;
	color: #4E4E4E;
	float: left;
}
.search{
	height: 33px;
	position: relative;
}
.search input{
	margin-left: 15px;
	width: 170px;
	height: 27px;
	border:1px solid #4E4E4E;
	padding-left: 8px;
	float: left;

}
.close{
	position: absolute;
	left:286px;
	top:6px;
	cursor: pointer;
}
.search button{
	width: 80px;
	height: 31px;
	background-color: white;
	color: #4E4E4E;
	border:1px solid #4E4E4E;
	
	cursor: pointer;
	float: left;
}
.select ul{
	margin:0;
	padding: 0;
	float: right;
}
.select ul li{
	float: left;
	width:120px;
	height: 31px;
	text-align: center;
	line-height: 27px;
	font-size: 1em;
	color:#4E4E4E; 
	cursor: pointer;
	background: url(../images/xiala.png) right;
	background-repeat: no-repeat;
	margin-right: 5px;
	position: relative;

}

.select1,.select2{
	width: 400px;
	height: 260px;
	border:1px solid #4E4E4E;
	display: none;
	position: absolute;
}
.select3{
	width: 400px;
	height: 130px;
	border:1px solid #4E4E4E;
	display: none;
	position: absolute;
	background: white;
	left: -230px;
	top: 30px;
}
.select ul li:hover .select1,.select ul li:hover .select2,
.select ul li:hover .select3{
	display: block;
	}
.select1{
	top: 30px;
	left: 10px;
	background: white;

}
.select1 input{
	width: 210px;
	height: 25px;
	border:1px solid #4E4E4E;
	padding-left: 8px;
	margin-top: 15px;
	margin-left: 30px;
}
.select1 button{
	width: 80px;
	height: 29px;
	background-color: white;
	color: #4E4E4E;
	border:1px solid #4E4E4E;
	cursor: pointer;
	margin-top: 15px;
	margin-right: 60px;
}
.select1 p{
	
	font-size: 0.8em;
	padding: 0;
	height: 70px;
	line-height: 35px;
	margin: 0;
	margin-left: -270px;

}
.select1 a{
	font-size: 0.8em;
}
.select2{
	position: absolute;
	left :-115px;
	top: 30px;
	background: white;
}
.select2 input{
	width: 210px;
	height: 25px;
	border:1px solid #4E4E4E;
	padding-left: 8px;
	margin-top: 15px;
	margin-left: 30px;
}
.select2 button{
	width: 80px;
	height: 29px;
	background-color: white;
	color: #4E4E4E;
	border:1px solid #4E4E4E;
	cursor: pointer;
	margin-top: 15px;
	margin-right: 60px;
}
.select2 p{
	
	font-size: 0.8em;
	padding: 0;
	height: 70px;
	line-height: 35px;
	margin: 0;
	margin-left: -270px;

}
.select1 a,.select2 a,.select3 a{
	color: #4E4E4E;
	

}
a:hover{
	 color: #CAD4F7;
}
.select2 a{
	font-size: 0.8em;
}
.select3 p{
	font-size: 0.8em;
	margin-left: -270px;
}
.select3 .input1,.select3 .input2{
	width: 40px;
	height: 25px;
}
.select3 .input1{
	margin-left: 70px;
}
.select3 .input2{
	margin-left: 30px;
}
.select3 button{
	float: right;
	width: 60px;
	height: 25px;
	margin-top: 15px;
	margin-right: 15px;

}
.select3 .danwei{
	font-size: 0.8em;
	position: absolute;
	top: 60px;
	left: 217px;
}
.line{
	position: absolute;
	left: 130px;

}
table{
	clear: both;
	margin-top: 30px;
	font-size: 0.8em;
}
th{
	background: #CAD4F7 ;
	height: 50px;
	border:none;

}

td{
	
	height: 90px;
}
.cata,.pho,.req,.namely{
	text-align: center;
}
.pho img{
	width: 60px;
	height: 60px;
}
.photo{
	width: 130px;
}
.name{
	width: 130px;
}
.service{
	width: 150px;
}
.require{
	width: 150px;
}
.info{
	width: 300px;
}